@page
@model Test.Web.Pages.Department.CreateModel
@{
}
<div>Department Create</div>


<form asp-page-handler="save" method="post">

    <div class="form-group">

        <label for="name">Department Name:</label>
        <input type="text" name="DepartmentName" class="form-control" id="name">

    </div>
    <button type="submit" class="btn btn-primary">Save</button>

</form>